/* commmon start */
body{
	margin: 0;
	font-family: sans-serif;
	padding: 0;
}
/* commmon end */
/* header start */
header{
	background-color: #121B2A;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.container {
	margin: 0 auto;
	width: 81%;
	overflow: hidden;
}
/* logo start */
.logo {
	margin: 1px;
	width: 20%;
	float: left;
}
.logo img{
	width: 100%;
}
/* logo end */
/* menu start */
.menu {
	width: 70%;
	float: right;
}
/* login start */
.login{
	overflow: hidden;
}
.login ul{
	float: right;
}
.login ul li{
	list-style: none;
	float: left;
}
.login ul li a{
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 16px 18px;
	color: #121B2A;
}
.login ul li:last-child a{
	background-color: #0078BD;
	color: #FFFFFF;
}
/* login end*/
/* navigation start */
.navigation{
	width: 100%;
}

.navigation ul{
	float: right;
}

.navigation ul li{
	float: left;
	list-style: none;
}

.navigation ul li a{
	font-weight: 400;
	text-decoration: none;
	padding: 8px 13px;
	display: inline-block;
	color: #FFFFFF;
}

.navigation ul li a:hover{
	color: #0077BD;
}

.navigation ul li:last-child a{
	padding-right: 0;
}
/* navigation end */
/* menu end */
/* header end */
/* banner start*/
.banner{
	width: 100%;
    height: 500px;
    background-color: #121B2A;
    background-image: url(../images/slide.jpg);
    background-repeat: no-repeat;
    background-size: 728px 500px;
    background-position: 620px 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.container_2 {
	margin: 0 auto;
	width: 98%;
	overflow: hidden;
}

.arrow {
	font-size: 40px;
	width: 5%;
	float: left;
	padding-top: 207px;
	text-align: center;
}
.text {
	width: 90%;
	float: left;
	padding-top: 70px;
}
.text-p{
	margin-left: 15px;
	margin-top: 125px; 
	width: 50%;
	color: #FFFFFF;
	line-height: 30px;
}
.text-p h2{
	margin: 0;
	font-size: 35px;
	font-weight: 500;
}
.text-p h1{
	margin: 15px 0 10px;
	font-size: 40px;
	font-weight: 700;
	color: #0078BD;
}
.text-p p{
	margin-right: 80px;
	font-size: 16px;
}
.text-p button{
	margin-top: 20px;
	font-size: 20px;
	border: 5px solid #FFFFFF;
	border-radius: 2px;
}
.text-p button i{
	color: #0078BD;
}
/* banner end */
/* circle start */
.circle{
	text-align: center;
	background-color: #121B2A;
}
.radio circle{
	padding: 10px;
}
/* circle end */
/* service start */
.service{
	background-color: #121B2A;
	overflow: hidden;
}
.container_3{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
    padding: 15px 0 35px;
}
.box{
	float: left;
	width: 31.7%;
	padding: 7px;
}
.b1{
	border-right: 0.5px solid #1A2430;
}
.b1 img{
	margin-top:18px;
}
.b2{
	border-right: 1px solid #1A2430;
}
.b3 img{
	margin-top:3px;
}
.box p{
	margin: 1px;
	padding: 0px 20px;
	color: #FFFFFF;
	line-height: 25px;
}
/* service end */
/* information start */
.information {
	overflow: hidden;
	background-color: #040811;
}

.container_4 {
	margin: 35px auto;
	width: 80%;
	overflow: hidden;
	color: #FFFFFF;
}

.box4 {
	float: left;
	width: 33.33%;
	overflow: hidden;
}
.box4 p{
	line-height: 25px;
}
.box4 span{
	color: #0078BD;
}
#number{
	padding-left: 10px;
	color: #FFFFFF;
}
#number1{
	padding-left: 45px;
	color: #FFFFFF;
}
.message {
	background-color: #0c1019;
    padding: 11px 19px;
    border-radius: 8px;
}

.address {
	padding-left: 24px;
}
.address h4{
	margin: 5px 0;
}
.address span{
	color: #FFFFFF;
}
.mobile{
	float: left;
	width: 33%;
	padding-left: 40px;
}
.about{
	float: right;
	width: 52%;
}
.about h2{
	margin: 16px 0 0;
}
.about h1{
	margin: 5px 0;
}
.container_5{
	overflow: hidden;
	width: 100%;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.container_5 i{
	font-size: 50px;
    width: 25%;
    float: left;
    color: #040811;
    padding: 15px 0px 10px 9px;
}
.container_5 p{
	font-size: 12px;
	width:70%;
	float: right;
	color: #040811;
}
.container_5 span{
	font-size: 26px;
	color: #040811;
}
/* information end */
/* footer start */
.footer {
	background-color: #121B2C;
	overflow: hidden;
}
.container_6 {
	margin: 0px auto;
	padding: 14px 0 15px;
	width: 80%;
	overflow: hidden;
}
.menubar {
	width: 60%;
	float: left;
	
}
.menubar ul li{
	list-style: none;
	float: left;
}
.menubar ul li a{
	text-decoration: none;
	padding: 0 10px;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.menubar ul li:last-child a{
	border-right: 1px solid #121B2C;
}
.menubar p{
	padding-left: 50px;
    color: #FFFFFF;
}
.symbian {
	width: 40%;
	float: right;
}
.symbian img{
	width: 100%;
	padding-left: 7px;
}
/* footer end */
